.main {
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    color: white;
}

.about {
    text-align: center;
}

.about img {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 100%;
}

@media (max-width: 800px) {
    .main {
        flex-direction: column;
        padding: 30px;
    }

    .about {
        margin-top: 50px;
    }

    .about img {
        width: 150px;
        height: 150px;
    }
}