@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #171717;
}

::-moz-selection {
  background: #ffb7b7;
  color: #fefefe;
}
::-webkit-scrollbar {
    width: 5px;
} 
::-webkit-scrollbar-track {
    background: #666;
} 
::-webkit-scrollbar-thumb {
    background: #c2c2c2;
    border-radius: 50px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.page-container {
  display: flex;
  height: 100vh;
  flex-direction: column;
}