.main {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.main h1 {
  margin-top: -50px;
}

.link {
  color: #3182ce;
  text-decoration: underline;
}

.link:hover {
  color: #095296;
}